{% extends "base.html" %}
{% block title %}{{ _("Смена пароля") }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <h3 class="mb-3">{{ _("Придумайте новый пароль") }}</h3>
    <div class="alert alert-info">{{ _("Вашу учётную запись создало правление со случайным паролем. Прежде чем продолжить, задайте собственный пароль.") }}</div>
    <form method="post" class="bg-body p-4 rounded border">
      <div class="mb-3">
        <label class="form-label">{{ _("Новый пароль") }}</label>
        <input class="form-control" type="password" name="new_password" required minlength="4" autofocus>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ _("Повторите новый пароль") }}</label>
        <input class="form-control" type="password" name="confirm_password" required minlength="4">
      </div>
      <button class="btn btn-primary w-100">{{ _("Сменить пароль") }}</button>
    </form>
  </div>
</div>
{% endblock %}
