{# Параметры: modal_id (по умолчанию createDocumentModal), next_url, doc_types #}
<div class="modal fade" id="{{ modal_id|default('createDocumentModal') }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <form method="post" action="{{ url_for('documents.create') }}" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title">{{ _("Новый документ") }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          {% include "documents/_fields.html" %}
          <input type="hidden" name="next" value="{{ next_url }}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ _("Отмена") }}</button>
          <button class="btn btn-primary">{{ _("Сохранить") }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
